{% extends 'base.html' %}
{% load title %}

{% block title %}{% title user.full_name %}{% endblock %}

{% block content %}
<div class="goalboard">
  <div class="whoami">
    <h1>Who am I?</h1>
    <div class="info">
      <img src="{{ avatar }}" />
      <div class="facts">
        <h2>{{ user.full_name }}</h2>
        <ul>
          {% for fact in spreadsheet.whoami %}
            <li>{{ fact }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="goals">
    <h1>My {% now "Y" %} goals</h1>
    <div class="grid">
      {% for goal in spreadsheet.goals %}
      <div class="grid-element percentage-{{ goal.percentage_rounded }}">
        <div class="container">
          <h2 class="name">{{ goal.name }}</h2>
          <div class="footer">
            <span>
              {% if goal.type == 'measurable' %}
              {{ goal.done }} out of {{ goal.planned }}
              {% endif %}
            </span>
            <div></div>
            <div class="progress-bar {% if goal.type == 'binary' %} binary-{{ goal.status|lower }} {% endif %}">
              {% if goal.type == 'measurable' %}
                {# {{ goal.percentage }}% #}
              {% else %}
                {% if goal.status %}
                Done
                {% else %}
                In progress
                {% endif %}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
