@font-face {
  font-family: 'GT-Eesti';
  font-weight: normal;
  src: local('GT-Eesti'), url('../fonts/GT-Eesti-Pro-Display-Regular.OTF') format('opentype');
}

@font-face {
  font-family: 'GT-Eesti';
  font-weight: bold;
  src: local('GT-Eesti'), url('../fonts/GT-Eesti-Pro-Display-Bold.OTF') format('opentype');
}

@font-face {
  font-family: 'GT-Eesti';
  font-weight: 500;
  src: local('GT-Eesti'), url('../fonts/GT-Eesti-Pro-Display-Medium.OTF') format('opentype');
}

@font-face {
  font-family: 'GT-Eesti';
  font-weight: 200;
  src: local('GT-Eesti'), url('../fonts/GT-Eesti-Pro-Display-Light.OTF') format('opentype');
}

$color-main: #1C2C40;
$color-second: #266df0;
$color-second-darken: #115be4;

html {
  font-family: 'GT-Eesti', sans-serif;
  scroll-behavior: smooth;
}

html, body {
  padding: 0;
  margin: 0;
  &, a {
    color: $color-main;
  }
}

nav {
  text-align: center;
  height: 75px;
  width: 100%;
  line-height: 75px;

  a {
    text-decoration: none;
  }

  > * {
    display: inline;
    vertical-align: middle;
    line-height: normal;
  }

  .logo {
    left: 0;
    font-size: 40px;
    font-weight: 500;
    line-height: 75px;
    position: absolute;
    padding-left: 25px;
  }

  .items {
    display: inline-block;
    .item {
      font-size: 25px;
      text-transform: lowercase;
      text-align: center;
      margin-left: 50px;
      margin-right: 50px;
    }
  }
}

header {
  height: 300px;
  margin-top: 75px;
  display: flex;
  align-items: center;
  justify-content: center;

  .captions {
    margin-right: 175px;
    p {
      font-size: 50px;
      span {
        font-weight: bold;
      }
    }
  }

  .cta {
    display: flex;
    flex-flow: column;
    align-items: center;
    img {
      width: 210px;
      margin-bottom: 24px;
    }
    .cta-button {
      &, & div {
        -moz-transition: all .1s ease-in;
        -o-transition: all .1s ease-in;
        -webkit-transition: all .1s ease-in;
        transition: all .1s ease-in;
        background-color: $color-second;
        text-align: center;
        height: 60px;
        width: 350px;
        text-decoration: none;
        -webkit-box-shadow: 0px 0px 15px -5px $color-second;
        -moz-box-shadow: 0px 0px 15px -5px $color-second;
        box-shadow: 0px 0px 15px -5px $color-second;
      }
      &:hover, & div:hover {
        background: $color-second-darken;
        -webkit-box-shadow: 0px 0px 15px -5px $color-second-darken;
        -moz-box-shadow: 0px 0px 15px -5px $color-second-darken;
        box-shadow: 0px 0px 15px -5px $color-second-darken;
      }
      span {
        color: white;
        font-size: 25px;
        text-transform: uppercase;
        line-height: 60px;
      }
    }
  }
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;

  h1 {
    margin-top: 150px;
    font-size: 70px;
    font-weight: bold;
  }

  .whyneed {
    .reason {
      margin-top: 75px;
      &:nth-child(1) {
        margin-top: 0;
      }
      display: flex;
      flex-direction: row;
      align-items: center;

      &:nth-child(odd) {
        text-align: right;
        div h2 span {
          float: right;
        }
      }

      &:nth-child(even) {
        text-align: left;
        div h2 span {
          float: left;
        }
      }

      div {
        width: 450px;
        margin: 0 30px 0 30px;
        h2 {
          margin: 0;
          margin-bottom: 20px;
          font-weight: normal;
          font-size: 50px;
        }
        span {
          font-weight: 200;
          font-size: 25px;
          width: 300px;
        }
        img {
          display: block;
          margin: auto;
          height: 180px;
        }
      }
    }
  }

  .examples {
    .example {
      text-decoration: none;
      display: flex;
      align-items: center;
      flex-direction: column;
      img {
        width: 500px; 
      }
      -webkit-box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.5);
      -moz-box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.5);
      box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.5);
    }
  }
}

.edit-spreadsheet {
  position: fixed;
  left: 0;
  transform-origin: left;
  top: calc(50% + 100px);
  transform: translateY(-50%) rotate(-90deg);
  margin-left: 25px;
  width: 200px;
  height: 50px;
  background-color: #2ED03A;
  color: white;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  font-size: 20px;
}

.gowl {
  margin: 45px;
  h1 {
    font-weight: bold;
    font-size: 75px;
    text-align: center;
  }
  .whoami {
    .info {
      height: 240px;
      display: flex;
      justify-content: center;
      img {
        float: left;
        max-width: 100%;
        max-height: 100%;
        border-radius: 50%;
      }
      .facts {
        margin-left: 20px;
        height: 240px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        h2 {
          font-size: 50px;
          font-weight: bold;
          margin: 0;
        }
        img {
          float: left;
          max-width: 100%;
          max-height: 100%;
          border-radius: 50%;
        }
        ul {
          padding: 0;
          margin-top: 20px;
          list-style-type: none;
        }
      }
    }
  }
  .goals {
    .grid {
      margin: 0;
      width: 100%;
      display: flex;
      justify-content: center;
      flex-flow: row wrap;
      @media (max-width: 400px) {
        display: block !important;
      }

      @for $i from 0 through 20 {
        .percentage-#{$i} {
          background-color: mix(#FF9C36, #FF5858, percentage($i / 20));
        }
      }
      @for $i from 0 through 80 {
        .percentage-#{$i+20} {
          background-color: mix(#2FBE3A, #FF9C36, percentage($i / 80));
          padding: 0 !important;
        }
      }

      .grid-element {
        width: 400px;
        height: 230px;
        border-radius: 20px;
        position: relative;
        margin: 0 20px 40px 20px;

        @media (max-width: 400px) {
          width: 100% !important;
          margin: 0 0 10px 0 !important;
        }

        .container {
          margin: 20px;
          .name {
            font-weight: bold;
            font-size: 30px;
            color: white;
            letter-spacing: 0;
          }

          .footer {
            position: absolute;
            bottom: 20px;

            span {
              color: white;
              font-size: 25px;
              padding-bottom: 28px;
            }

            div { height: 10px; }

            .progress-bar {
              text-align: center;
              line-height: 33px;
              width: 360px;
              height: 33px;
              background-color: white;
              border: 2px solid #FFFFFF;
              box-sizing: border-box;
              -moz-box-sizing: border-box;
              -webkit-box-sizing: border-box;
              z-index: 0;

              &, & .progress {
                border-radius: 20px;
              }

              & .progress {
                padding: 0.01em 16px;
                height: 100%;
                width: var(--percentage);
              }

              &.progress-true, &.progress-false {
                font-size: 25px;
              }
              &.progress-true {
                background-color: transparent !important;
                color: white;
              }
              &.progress-false {
                color: #d95449;
              }
            }
          }
        }
      }
    }
  }
}

.profile {
  height: 100vh;
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    #id_username {
      font-family: inherit;
      height: 90px;
      width: 635px;
      font-size: 40px;
      text-align: left;
      border-radius: 8px;
      border-style: solid;
      border-width: 1px;
    }
    .claim-button {
      font-family: inherit;
      color: white;
      width: 290px;
      margin: 0 auto;
      margin-top: 40px;
    }

    *:focus {
      outline-width: 0;
    }
  }
}
