{% load sass_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% if not debug %}
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-37751752-10"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-37751752-10');
    </script>
    {% endif %}

    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% sass_src 'css/style.scss' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
    <title>{% block title %}{% endblock %}</title>
    {% if not debug %}
        <script>
            (function (d, h, m) {
                var js, fjs = d.getElementsByTagName(h)[0];
                if (d.getElementById(m)) {
                    return;
                }
                js = d.createElement(h);
                js.id = m;
                js.onload = function () {
                    window.makerWidgetComInit({
                        position: "left",
                        widget: "4xix5atpaibfoa9m-hs10skl6ekxolwiv-brkxylicvs9e6qnb"
                    })
                };
                js.src = "https://makerwidget.com/js/embed.js";
                fjs.parentNode.insertBefore(js, fjs)
            }(document, "script", "dhm"))
        </script>
    {% endif %}

    {% block head %}{% endblock %}
</head>
<body>
{% block content %}
{% endblock %}
<script type="text/javascript">
  WebFontConfig = {
    google: { families: [ 'Nunito:400,700,900' ] }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })(); </script>
</body>
</html>
