{% load sass_tags %}
{% load static %}
{% load version %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% if not debug %}
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-37751752-10"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-37751752-10');
    </script>
    {% endif %}

    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% sass_src 'css/style.scss' %}?v={% version %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}?v={% version %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}?v={% version %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}?v={% version %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}?v={% version %}">
    <link rel="mask-icon" href="{% static 'favicon/safari-pinned-tab.svg' %}?v={% version %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <title>{% block title %}{% endblock %}</title>
    {% if not debug %}
        <script>
            (function (d, h, m) {
                var js, fjs = d.getElementsByTagName(h)[0];
                if (d.getElementById(m)) {
                    return;
                }
                js = d.createElement(h);
                js.id = m;
                js.onload = function () {
                    window.makerWidgetComInit({
                        position: "left",
                        widget: "4xix5atpaibfoa9m-hs10skl6ekxolwiv-brkxylicvs9e6qnb"
                    })
                };
                js.src = "https://makerwidget.com/js/embed.js";
                fjs.parentNode.insertBefore(js, fjs)
            }(document, "script", "dhm"))
        </script>
    {% endif %}

    {% block head %}{% endblock %}
</head>
<body>
{% block content %}
{% endblock %}
<center><a href="/privacy">Privacy Policy</a> and <a href="/tos">Terms of Service</a></center>
</body>
</html>
