{% extends 'base.html' %}
{% load title %}
{% load socialaccount %}
{% load static %}
{% load i18n %}

{% block title %}{% title %}{% endblock %}

{% block content %}
    {% include 'nav.html' %}
    <header>
        <div class="captions">
            <p>{% blocktrans %}We simplified <span>list of goals</span>{%endblocktrans%}</p>
            <p>{% blocktrans %}Made it open to <span>public</span>{%endblocktrans%}</p>
            <p>{% blocktrans %}And called it <span>Gowl</span>{%endblocktrans%}</p>
        </div>
        <div class="cta">
            <img src="{% static 'img/logo.png' %}" />
            <a href="#" class="cta-button">
                <div>
                    <span>{% trans 'Create Gowl for free' %}</span>
                </div>
            </a>
        </div>
    </header>
    <main>
        <h1>{% trans 'Why do you need that?' %}</h1>
        <div class="whyneed">
            <div class="reason">
                <div>
                    <h2>{% trans 'SMART goal setting' %}</h2>
                    <span>{% trans 'Set measureable goals and track your results' %}</span>
                </div>
                <div>
                    <img src="{% static 'img/Bulb.svg' %}" />
                </div>
            </div>
            <div class="reason">
                <div>
                    <img src="{% static 'img/Globe.svg' %}"/>
                </div>
                <div>
                    <h2>{% trans 'Share your goals' %}</h2>
                    <span>{% trans 'Tell your friends and collegues about your Gowl so you have extra motivation' %}</span>
                </div>
            </div>
            <div class="reason">
                <div>
                    <h2>{% trans 'No security worries' %}</h2>
                    <span>{% trans 'We use all oAuth to access your spreadsheet so you can restrict access any time' %}</span>
                </div>
                <div>
                    <img src="{% static 'img/Security.svg' %}"/>
                </div>
            </div>
            <div class="reason">
                <div>
                    <img src="{% static 'img/2 + 2.svg' %}"/>
                </div>
                <div>
                    <h2>{% trans 'Manage with ease' %}</h2>
                    <span>{% trans 'All your goals and measurements are in a single Google Spreadsheet' %}</span>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
