html {
  font-family: 'Nunito', sans-serif;
}

html, body {
  padding: 0;
  margin: 0;
}

header {
  background: url("../img/header_bg.jpg") no-repeat center;
  background-size: 100% 100%;
  height: 605px;

  .header-title {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
    font-weight: 900;
    font-size: 90px;
    line-height: 100px;
  }
}

nav {
  padding: 0 25px 0 25px;
  height: 80px;
  width: 100%;
  line-height: 80px;
  position: absolute;
  margin-bottom: 80px;

  a {
    text-decoration: none;
    color: white;
  }

  > * {
    display: inline;
    vertical-align: middle;
    line-height: normal;
  }

  .logo {
    font-size: 30px;
    text-transform: uppercase;
  }
}

.nav-black {
  border-bottom: 1px solid;
  a {
    color: black;
  }
}

.good-green-button {
  a {
    text-decoration: none;
    color: white;
    display: block;
    height: 100%;
    line-height: 85px;
  }

  background: #2ED03A;
  width: 404px;
  font-size: 35px;
  font-weight: normal;
  height: 85px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
}

.getting-started {
  width: 637px;
  margin: 45px auto 0 auto;
  text-align: center;

  .enjoy-button {
  margin: 0 auto;
  margin-bottom: 40px;
  }

  .headline {
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    &.done {
      color: #9B9B9B;
      opacity: 0.1;
    }
  }

  hr {
    margin: 20px 0 20px 0;

    &.done {
      color: #9B9B9B;
      opacity: 0.1;
    }
  }

  ul {
    text-align: left;
    list-style-type: none;
    font-weight: normal;
    font-size: 30px;

    li {
      &.active a {
        color: black;
      }
      &.done, &.pending {
        color: #9B9B9B;
        opacity: 0.1;
      }

      &.done a {
        text-decoration: line-through;
      }
    }
  }
}

.edit-spreadsheet {
  position: fixed;
  left: 0;
  transform-origin: left;
  top: calc(50% + 100px);
  transform: translateY(-50%) rotate(-90deg);
  margin-left: 25px;
  width: 200px;
  height: 50px;
  background-color: #2ED03A;
  color: white;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  font-size: 20px;
}

.goalboard {
  margin: 45px;
  h1 {
    font-weight: bold;
    font-size: 75px;
    text-align: center;
  }
  .whoami {
    .info {
      height: 240px;
      display: flex;
      justify-content: center;
      img {
        float: left;
        max-width: 100%;
        max-height: 100%;
        border-radius: 50%;
      }
      .facts {
        margin-left: 20px;
        height: 240px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        h2 {
          font-size: 50px;
          font-weight: bold;
          margin: 0;
        }
        img {
          float: left;
          max-width: 100%;
          max-height: 100%;
          border-radius: 50%;
        }
        ul {
          padding: 0;
          margin-top: 20px;
          list-style-type: none;
        }
      }
    }
  }
  .goals {
    .grid {
      margin: 0;
      width: 100%;
      display: flex;
      justify-content: center;
      flex-flow: row wrap;
      @media (max-width: 400px) {
        display: block !important;
      }

      @for $i from 0 through 20 {
        .percentage-#{$i} {
          background-color: mix(#FF9C36, #FF5858, percentage($i / 20));
        }
      }
      @for $i from 0 through 80 {
        .percentage-#{$i+20} {
          background-color: mix(#2FBE3A, #FF9C36, percentage($i / 80));
          padding: 0 !important;
        }
      }

      .grid-element {
        width: 400px;
        height: 230px;
        border-radius: 20px;
        position: relative;
        margin: 0 20px 40px 20px;

        @media (max-width: 400px) {
          width: 100% !important;
          margin: 0 0 10px 0 !important;
        }

        .container {
          margin: 20px;
          .name {
            font-weight: bold;
            font-size: 30px;
            color: white;
            letter-spacing: 0;
          }

          .footer {
            position: absolute;
            bottom: 20px;

            span {
              color: white;
              font-size: 25px;
              padding-bottom: 28px;
            }

            div { height: 10px; }

            .progress-bar {
              text-align: center;
              line-height: 33px;
              width: 360px;
              height: 33px;
              background-color: white;
              border: 2px solid #FFFFFF;
              box-sizing: border-box;
              -moz-box-sizing: border-box;
              -webkit-box-sizing: border-box;
              z-index: 0;

              &, & .progress {
                border-radius: 20px;
              }

              & .progress {
                padding: 0.01em 16px;
                height: 100%;
                width: var(--percentage);
              }

              &.progress-true, &.progress-false {
                font-size: 25px;
              }
              &.progress-true {
                background-color: transparent !important;
                color: white;
              }
              &.progress-false {
                color: #d95449;
              }
            }
          }
        }
      }
    }
  }
}

.profile {
  height: 100vh;
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    #id_username {
      font-family: inherit;
      height: 90px;
      width: 635px;
      font-size: 40px;
      text-align: left;
      border-radius: 8px;
      border-style: solid;
      border-width: 1px;
    }
    .claim-button {
      font-family: inherit;
      color: white;
      width: 290px;
      margin: 0 auto;
      margin-top: 40px;
    }

    *:focus {
      outline-width: 0;
    }
  }
}
