html {
  font-family: 'Nunito', sans-serif; }

html, body {
  padding: 0;
  margin: 0; }

header {
  background: url("../img/header_bg.jpg") no-repeat center;
  background-size: 100% 100%;
  height: 605px; }
  header .header-title {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
    font-weight: 900;
    font-size: 90px;
    line-height: 100px; }

nav {
  padding: 0 25px 0 25px;
  height: 80px;
  line-height: 80px;
  position: absolute; }
  nav a {
    text-decoration: none;
    color: white; }
  nav > * {
    display: inline;
    vertical-align: middle;
    line-height: normal; }
  nav .logo {
    font-size: 30px;
    text-transform: uppercase; }

.getting-started {
  width: 637px;
  margin: 45px auto 0 auto;
  text-align: center; }
  .getting-started .enjoy-button {
    background: #2ED03A;
    width: 404px;
    font-size: 35px;
    font-weight: normal;
    height: 85px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    margin-bottom: 40px; }
    .getting-started .enjoy-button a {
      text-decoration: none;
      color: white;
      display: block;
      height: 100%;
      line-height: 85px; }
  .getting-started .headline {
    font-weight: 700;
    font-size: 50px;
    line-height: 60px; }
    .getting-started .headline.done {
      color: #9B9B9B;
      opacity: 0.1; }
  .getting-started hr {
    margin: 20px 0 20px 0; }
    .getting-started hr.done {
      color: #9B9B9B;
      opacity: 0.1; }
  .getting-started ul {
    text-align: left;
    list-style-type: none;
    font-weight: normal;
    font-size: 30px; }
    .getting-started ul li.active a {
      color: black; }
    .getting-started ul li.done, .getting-started ul li.pending {
      color: #9B9B9B;
      opacity: 0.1; }
    .getting-started ul li.done a {
      text-decoration: line-through; }

.edit-spreadsheet {
  position: fixed;
  left: 0;
  transform-origin: left;
  top: calc(50% + 100px);
  transform: translateY(-50%) rotate(-90deg);
  margin-left: 25px;
  width: 200px;
  height: 50px;
  background-color: #2ED03A;
  color: white;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  font-size: 20px; }

.goalboard {
  margin: 45px; }
  .goalboard h1 {
    font-weight: bold;
    font-size: 75px;
    text-align: center; }
  .goalboard .whoami .info {
    height: 240px;
    display: flex;
    justify-content: center; }
    .goalboard .whoami .info img {
      float: left;
      max-width: 100%;
      max-height: 100%;
      border-radius: 50%; }
    .goalboard .whoami .info .facts {
      margin-left: 20px;
      height: 240px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: flex-start; }
      .goalboard .whoami .info .facts h2 {
        font-size: 50px;
        font-weight: bold;
        margin: 0; }
      .goalboard .whoami .info .facts img {
        float: left;
        max-width: 100%;
        max-height: 100%;
        border-radius: 50%; }
      .goalboard .whoami .info .facts ul {
        padding: 0;
        margin-top: 20px;
        list-style-type: none; }
  .goalboard .goals .grid {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap; }
    @media (max-width: 400px) {
      .goalboard .goals .grid {
        display: block !important; } }
    .goalboard .goals .grid .percentage-0 {
      background-color: #d4584e; }
    .goalboard .goals .grid .percentage-1 {
      background-color: #d65e4f; }
    .goalboard .goals .grid .percentage-2 {
      background-color: #d86350; }
    .goalboard .goals .grid .percentage-3 {
      background-color: #d96951; }
    .goalboard .goals .grid .percentage-4 {
      background-color: #db6f52; }
    .goalboard .goals .grid .percentage-5 {
      background-color: #dd7453; }
    .goalboard .goals .grid .percentage-6 {
      background-color: #df7a54; }
    .goalboard .goals .grid .percentage-7 {
      background-color: #e08055; }
    .goalboard .goals .grid .percentage-8 {
      background-color: #e28556; }
    .goalboard .goals .grid .percentage-9 {
      background-color: #e48b57; }
    .goalboard .goals .grid .percentage-10 {
      background-color: #e69158; }
    .goalboard .goals .grid .percentage-11 {
      background-color: #e79659; }
    .goalboard .goals .grid .percentage-12 {
      background-color: #e99c5a; }
    .goalboard .goals .grid .percentage-13 {
      background-color: #eba15b; }
    .goalboard .goals .grid .percentage-14 {
      background-color: #eda75c; }
    .goalboard .goals .grid .percentage-15 {
      background-color: #eead5d; }
    .goalboard .goals .grid .percentage-16 {
      background-color: #f0b25e; }
    .goalboard .goals .grid .percentage-17 {
      background-color: #f2b85f; }
    .goalboard .goals .grid .percentage-18 {
      background-color: #f4be60; }
    .goalboard .goals .grid .percentage-19 {
      background-color: #f5c361; }
    .goalboard .goals .grid .percentage-20 {
      background-color: #f7c962; }
    .goalboard .goals .grid .percentage-20 {
      background-color: #f7c962;
      padding: 0 !important; }
    .goalboard .goals .grid .percentage-21 {
      background-color: #f5c962;
      padding: 0 !important; }
    .goalboard .goals .grid .percentage-22 {
      background-color: #f2c961;
      padding: 0 !important; }
    .goalboard .goals .grid .percentage-23 {
      background-color: #f0c961;
      padding: 0 !important; }
    .goalboard .goals .grid .percentage-24 {
      background-color: #eec961;
      padding: 0 !important; }
    .goalboard .goals .grid .percentage-25 {
      background-color: #ebc860;
      padding: 0 !important; }
    .goalboard .goals .grid .percentage-26 {
      background-color: #e9c860;
      padding: 0 !important; }
    .goalboard .goals .grid .percentage-27 {
      background-color: #e7c860;
      padding: 0 !important; }
    .goalboard .goals .grid .percentage-28 {
      background-color: #e5c85f;
      padding: 0 !important; }
    .goalboard .goals .grid .percentage-29 {
      background-color: #e2c85f;
      padding: 0 !important; }
    .goalboard .goals .grid .percentage-30 {
      background-color: #e0c85f;
      padding: 0 !important; }
    .goalboard .goals .grid .percentage-31 {
      background-color: #dec85e;
      padding: 0 !important; }
    .goalboard .goals .grid .percentage-32 {
      background-color: #dbc85e;
      padding: 0 !important; }
    .goalboard .goals .grid .percentage-33 {
      background-color: #d9c85e;
      padding: 0 !important; }
    .goalboard .goals .grid .percentage-34 {
      background-color: #d7c75d;
      padding: 0 !important; }
    .goalboard .goals .grid .percentage-35 {
      background-color: #d4c75d;
      padding: 0 !important; }
    .goalboard .goals .grid .percentage-36 {
      background-color: #d2c75d;
      padding: 0 !important; }
    .goalboard .goals .grid .percentage-37 {
      background-color: #d0c75c;
      padding: 0 !important; }
    .goalboard .goals .grid .percentage-38 {
      background-color: #cdc75c;
      padding: 0 !important; }
    .goalboard .goals .grid .percentage-39 {
      background-color: #cbc75c;
      padding: 0 !important; }
    .goalboard .goals .grid .percentage-40 {
      background-color: #c9c75c;
      padding: 0 !important; }
    .goalboard .goals .grid .percentage-41 {
      background-color: #c6c75b;
      padding: 0 !important; }
    .goalboard .goals .grid .percentage-42 {
      background-color: #c4c75b;
      padding: 0 !important; }
    .goalboard .goals .grid .percentage-43 {
      background-color: #c2c65b;
      padding: 0 !important; }
    .goalboard .goals .grid .percentage-44 {
      background-color: #c0c65a;
      padding: 0 !important; }
    .goalboard .goals .grid .percentage-45 {
      background-color: #bdc65a;
      padding: 0 !important; }
    .goalboard .goals .grid .percentage-46 {
      background-color: #bbc65a;
      padding: 0 !important; }
    .goalboard .goals .grid .percentage-47 {
      background-color: #b9c659;
      padding: 0 !important; }
    .goalboard .goals .grid .percentage-48 {
      background-color: #b6c659;
      padding: 0 !important; }
    .goalboard .goals .grid .percentage-49 {
      background-color: #b4c659;
      padding: 0 !important; }
    .goalboard .goals .grid .percentage-50 {
      background-color: #b2c658;
      padding: 0 !important; }
    .goalboard .goals .grid .percentage-51 {
      background-color: #afc658;
      padding: 0 !important; }
    .goalboard .goals .grid .percentage-52 {
      background-color: #adc558;
      padding: 0 !important; }
    .goalboard .goals .grid .percentage-53 {
      background-color: #abc557;
      padding: 0 !important; }
    .goalboard .goals .grid .percentage-54 {
      background-color: #a8c557;
      padding: 0 !important; }
    .goalboard .goals .grid .percentage-55 {
      background-color: #a6c557;
      padding: 0 !important; }
    .goalboard .goals .grid .percentage-56 {
      background-color: #a4c556;
      padding: 0 !important; }
    .goalboard .goals .grid .percentage-57 {
      background-color: #a1c556;
      padding: 0 !important; }
    .goalboard .goals .grid .percentage-58 {
      background-color: #9fc556;
      padding: 0 !important; }
    .goalboard .goals .grid .percentage-59 {
      background-color: #9dc555;
      padding: 0 !important; }
    .goalboard .goals .grid .percentage-60 {
      background-color: #9bc555;
      padding: 0 !important; }
    .goalboard .goals .grid .percentage-61 {
      background-color: #98c455;
      padding: 0 !important; }
    .goalboard .goals .grid .percentage-62 {
      background-color: #96c454;
      padding: 0 !important; }
    .goalboard .goals .grid .percentage-63 {
      background-color: #94c454;
      padding: 0 !important; }
    .goalboard .goals .grid .percentage-64 {
      background-color: #91c454;
      padding: 0 !important; }
    .goalboard .goals .grid .percentage-65 {
      background-color: #8fc453;
      padding: 0 !important; }
    .goalboard .goals .grid .percentage-66 {
      background-color: #8dc453;
      padding: 0 !important; }
    .goalboard .goals .grid .percentage-67 {
      background-color: #8ac453;
      padding: 0 !important; }
    .goalboard .goals .grid .percentage-68 {
      background-color: #88c452;
      padding: 0 !important; }
    .goalboard .goals .grid .percentage-69 {
      background-color: #86c352;
      padding: 0 !important; }
    .goalboard .goals .grid .percentage-70 {
      background-color: #83c352;
      padding: 0 !important; }
    .goalboard .goals .grid .percentage-71 {
      background-color: #81c351;
      padding: 0 !important; }
    .goalboard .goals .grid .percentage-72 {
      background-color: #7fc351;
      padding: 0 !important; }
    .goalboard .goals .grid .percentage-73 {
      background-color: #7cc351;
      padding: 0 !important; }
    .goalboard .goals .grid .percentage-74 {
      background-color: #7ac350;
      padding: 0 !important; }
    .goalboard .goals .grid .percentage-75 {
      background-color: #78c350;
      padding: 0 !important; }
    .goalboard .goals .grid .percentage-76 {
      background-color: #76c350;
      padding: 0 !important; }
    .goalboard .goals .grid .percentage-77 {
      background-color: #73c34f;
      padding: 0 !important; }
    .goalboard .goals .grid .percentage-78 {
      background-color: #71c24f;
      padding: 0 !important; }
    .goalboard .goals .grid .percentage-79 {
      background-color: #6fc24f;
      padding: 0 !important; }
    .goalboard .goals .grid .percentage-80 {
      background-color: #6cc24f;
      padding: 0 !important; }
    .goalboard .goals .grid .percentage-81 {
      background-color: #6ac24e;
      padding: 0 !important; }
    .goalboard .goals .grid .percentage-82 {
      background-color: #68c24e;
      padding: 0 !important; }
    .goalboard .goals .grid .percentage-83 {
      background-color: #65c24e;
      padding: 0 !important; }
    .goalboard .goals .grid .percentage-84 {
      background-color: #63c24d;
      padding: 0 !important; }
    .goalboard .goals .grid .percentage-85 {
      background-color: #61c24d;
      padding: 0 !important; }
    .goalboard .goals .grid .percentage-86 {
      background-color: #5ec24d;
      padding: 0 !important; }
    .goalboard .goals .grid .percentage-87 {
      background-color: #5cc14c;
      padding: 0 !important; }
    .goalboard .goals .grid .percentage-88 {
      background-color: #5ac14c;
      padding: 0 !important; }
    .goalboard .goals .grid .percentage-89 {
      background-color: #57c14c;
      padding: 0 !important; }
    .goalboard .goals .grid .percentage-90 {
      background-color: #55c14b;
      padding: 0 !important; }
    .goalboard .goals .grid .percentage-91 {
      background-color: #53c14b;
      padding: 0 !important; }
    .goalboard .goals .grid .percentage-92 {
      background-color: #51c14b;
      padding: 0 !important; }
    .goalboard .goals .grid .percentage-93 {
      background-color: #4ec14a;
      padding: 0 !important; }
    .goalboard .goals .grid .percentage-94 {
      background-color: #4cc14a;
      padding: 0 !important; }
    .goalboard .goals .grid .percentage-95 {
      background-color: #4ac14a;
      padding: 0 !important; }
    .goalboard .goals .grid .percentage-96 {
      background-color: #47c049;
      padding: 0 !important; }
    .goalboard .goals .grid .percentage-97 {
      background-color: #45c049;
      padding: 0 !important; }
    .goalboard .goals .grid .percentage-98 {
      background-color: #43c049;
      padding: 0 !important; }
    .goalboard .goals .grid .percentage-99 {
      background-color: #40c048;
      padding: 0 !important; }
    .goalboard .goals .grid .percentage-100 {
      background-color: #3ec048;
      padding: 0 !important; }
    .goalboard .goals .grid .grid-element {
      width: 400px;
      height: 230px;
      border-radius: 20px;
      position: relative;
      margin: 0 25px 50px 25px; }
      @media (max-width: 400px) {
        .goalboard .goals .grid .grid-element {
          width: 100% !important;
          margin: 0 0 10px 0 !important; } }
      .goalboard .goals .grid .grid-element .container {
        margin: 20px; }
        .goalboard .goals .grid .grid-element .container .name {
          font-weight: bold;
          font-size: 30px;
          color: white;
          letter-spacing: 0; }
        .goalboard .goals .grid .grid-element .container .footer {
          position: absolute;
          bottom: 20px; }
          .goalboard .goals .grid .grid-element .container .footer span {
            color: white;
            font-size: 25px;
            padding-bottom: 28px; }
          .goalboard .goals .grid .grid-element .container .footer div {
            height: 10px; }
          .goalboard .goals .grid .grid-element .container .footer .progress-bar {
            text-align: center;
            line-height: 33px;
            width: 360px;
            height: 33px;
            background-color: white;
            border: 2px solid #FFFFFF;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            z-index: 0; }
            .goalboard .goals .grid .grid-element .container .footer .progress-bar, .goalboard .goals .grid .grid-element .container .footer .progress-bar .progress {
              border-radius: 20px; }
            .goalboard .goals .grid .grid-element .container .footer .progress-bar .progress {
              padding: 0.01em 16px;
              height: 100%;
              width: var(--percentage); }
            .goalboard .goals .grid .grid-element .container .footer .progress-bar.progress-true, .goalboard .goals .grid .grid-element .container .footer .progress-bar.progress-false {
              font-size: 25px; }
            .goalboard .goals .grid .grid-element .container .footer .progress-bar.progress-true {
              background-color: transparent !important;
              color: white; }
            .goalboard .goals .grid .grid-element .container .footer .progress-bar.progress-false {
              color: #d95449; }

/*# sourceMappingURL=style.css.map */